@import "tailwindcss";

@theme {
    --color-primary: #0D1B2A;
    --color-secondary: #415A77;
    --color-primary-white: #FFFFFF;
    --color-secondary-black: #000000;
    --font-anek: "Anek Bangla", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}